@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cssload-loader {
  position: absolute;
  width: 71px;
  height: 71px;
  left: 46%;
  top: 50%;
  left: calc(50% - 35px);
  left: -o-calc(50% - 35px);
  left: -ms-calc(50% - 35px);
  left: -webkit-calc(50% - 35px);
  left: -moz-calc(50% - 35px);

  border-radius: 71px;
  background-color: rgba(33, 149, 243, 0.98);
  transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  animation: cssload-loader 2.05s ease-in-out infinite;
  -o-animation: cssload-loader 2.05s ease-in-out infinite;
  -ms-animation: cssload-loader 2.05s ease-in-out infinite;
  -webkit-animation: cssload-loader 2.05s ease-in-out infinite;
  -moz-animation: cssload-loader 2.05s ease-in-out infinite;
}

.cssload-loader:before {
  content: "";
  position: absolute;
  background-color: rgba(241, 144, 32, 0.97);
  top: 0px;
  left: -147px;
  height: 71px;
  width: 71px;
  border-radius: 71px;
}

.cssload-loader:after {
  content: "";
  position: absolute;
  background-color: rgb(241, 144, 32);
  top: 0px;
  left: 147px;
  height: 71px;
  width: 71px;
  border-radius: 71px;
}

@keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-loader {
  0% {
    -o-transform: rotate(0deg);
  }
  50% {
    -o-transform: rotate(180deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-loader {
  0% {
    -ms-transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-loader {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.spinner {
  margin: 20px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #2196f3;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
